header {
    grid-area: ga-header;
}

main {
    grid-area: ga-main;
}

#techskills {
    grid-area: ga-techskills;
}

#techexperience {
    grid-area: ga-techexperience;
}

#education {
    grid-area: ga-education;
}

#profexperience {
    grid-area: ga-profexperience;
}

#prof-exp-header {
    grid-area: ga-prof-exp-header;
}

#biberk {
    grid-area: ga-biberk;
}

#madelabs {
    grid-area: ga-madelabs;
}

#grainger {
    grid-area: ga-grainger;
}

#gamut {
    grid-area: ga-gamut;
}

#amazon {
    grid-area: ga-amazon;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 880px;
    margin: auto;
    padding: 30px;
    font-family: Calibri;
    grid-template-areas:
        'ga-header ga-header'
        'ga-main ga-main';
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'ga-techskills ga-techskills'
        'ga-profexperience ga-profexperience'
        'ga-education ga-education'
        'ga-techexperience ga-techexperience';
}

.summary {
    border-top: 2px solid #005f65;
    border-bottom: 2px solid #005f65;
    margin-bottom: 15px;
}

#profexperience {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'ga-prof-exp-header ga-prof-exp-header'
        'ga-biberk ga-biberk'
        'ga-madelabs ga-madelabs'
        'ga-grainger ga-grainger'
        'ga-gamut ga-gamut'
        'ga-amazon ga-amazon';
}

.promotion-note {
    margin: 0 0 0 4px;
    font-size: 0.95rem;
    color: #555;
}

h1 {
    font-family: 'Bookman Old Style';
    font-size: 48px;
    margin: auto;
    text-align: center;
}

h3 {
    font-size: 1.1rem;
}

main > div > p {
    margin: 4px;
}

main > div > div {
    margin-top: 0px;
}

main > div ul {
    margin-top: 0px;
}

main > div > h3 {
    margin: 0px;
}

.withdate {
    display: flex;
    margin: 0px;
    padding: 0px;
    margin-left: 4px;
}

.tophead {
    padding-bottom: 10px;
}

.tophead p {
    margin: auto;
    text-align: center;
}

.bold {
    font-weight: bold;
    font-size: 1.03rem;
}

.darkgreen {
    color: #005f65;
}

.spacer {
    flex-grow: 1;
}

/* Home navigation */
.resume-nav {
    position: absolute;
    top: 10px;
    right: 30px;
    font-size: 0.9rem;
}

.resume-nav a {
    color: #005f65;
    text-decoration: none;
}

.resume-nav a:hover {
    text-decoration: underline;
}

@media print {
    .resume-nav {
        display: none;
    }
}
